src/main/resources/xml/XSD CDA/CDA2TestNotFinished.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Bob Dolin (HL7 CDA TC) -->
<xs:schema targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" elementFormDefault="qualified">
    <xs:include schemaLocation="POCD_MT000040.xsd"/>
    <xs:element name="ClinicalDocument" type="POCD_MT000040.ClinicalDocument">
        <xs:sequence>
            <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId">
                <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                    <xs:complexContent>
                        <xs:restriction base="II">
                            <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                            <xs:attribute name="extension" type="st" use="required"/>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="id" type="II"/>
            <xs:element name="code" type="CE"/>
            <xs:element name="title" type="ST" minOccurs="0"/>
            <xs:element name="effectiveTime" type="TS"/>
            <xs:element name="confidentialityCode" type="CE"/>
            <xs:element name="languageCode" type="CS" minOccurs="0"/>
            <xs:element name="setId" type="II" minOccurs="0"/>
            <xs:element name="versionNumber" type="INT" minOccurs="0"/>
            <xs:element name="copyTime" type="TS" minOccurs="0"/>
            <xs:element name="recordTarget" type="POCD_MT000040.RecordTarget" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.RecordTarget">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="patientRole" type="POCD_MT000040.PatientRole">
                            <xs:complexType name="POCD_MT000040.PatientRole">
                                <xs:sequence>
                                    <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                                        <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                            <xs:complexContent>
                                                <xs:restriction base="II">
                                                    <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                                    <xs:attribute name="extension" type="st" use="required"/>
                                                </xs:restriction>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="id" type="II" maxOccurs="unbounded"/>
                                    <xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="patient" type="POCD_MT000040.Patient" minOccurs="0">
                                        <xs:complexType name="POCD_MT000040.Patient">
                                            <xs:sequence>
                                                <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
                                                <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="id" type="II" minOccurs="0"/>
                                                <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="administrativeGenderCode" type="CE" minOccurs="0"/>
                                                <xs:element name="birthTime" type="TS" minOccurs="0"/>
                                                <xs:element name="maritalStatusCode" type="CE" minOccurs="0"/>
                                                <xs:element name="religiousAffiliationCode" type="CE" minOccurs="0"/>
                                                <xs:element name="raceCode" type="CE" minOccurs="0"/>
                                                <xs:element name="ethnicGroupCode" type="CE" minOccurs="0"/>
                                                <xs:element name="guardian" type="POCD_MT000040.Guardian" minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="birthplace" type="POCD_MT000040.Birthplace" minOccurs="0"/>
                                                <xs:element name="languageCommunication" type="POCD_MT000040.LanguageCommunication" minOccurs="0" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                            <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                                            <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
                                            <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="providerOrganization" type="POCD_MT000040.Organization" minOccurs="0"/>
                                </xs:sequence>
                                <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                                <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
                                <xs:anyAttribute namespace="##other"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
                    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="author" type="POCD_MT000040.Author" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.Author">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="functionCode" type="CE" minOccurs="0"/>
                        <xs:element name="time" type="TS"/>
                        <xs:element name="assignedAuthor" type="POCD_MT000040.AssignedAuthor"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
                    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="dataEnterer" type="POCD_MT000040.DataEnterer" minOccurs="0">
                <xs:complexType name="POCD_MT000040.DataEnterer">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="time" type="TS" minOccurs="0"/>
                        <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ENT"/>
                    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="informant" type="POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.Informant12">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:choice>
                            <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
                            <xs:element name="relatedEntity" type="POCD_MT000040.RelatedEntity"/>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="INF"/>
                    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="custodian" type="POCD_MT000040.Custodian"/>
            <xs:element name="informationRecipient" type="POCD_MT000040.InformationRecipient" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.InformationRecipient">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="intendedRecipient" type="POCD_MT000040.IntendedRecipient"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="x_InformationRecipient" use="optional" default="PRCP"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="legalAuthenticator" type="POCD_MT000040.LegalAuthenticator" minOccurs="0">
                <xs:complexType name="POCD_MT000040.LegalAuthenticator">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="time" type="TS"/>
                        <xs:element name="signatureCode" type="CS"/>
                        <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="LA"/>
                    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticator" type="POCD_MT000040.Authenticator" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.Authenticator">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="time" type="TS"/>
                        <xs:element name="signatureCode" type="CS"/>
                        <xs:element name="assignedEntity" type="POCD_MT000040.AssignedEntity"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUTHEN"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="participant" type="POCD_MT000040.Participant1" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.Participant1">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="functionCode" type="CE" minOccurs="0"/>
                        <xs:element name="time" type="IVL_TS" minOccurs="0"/>
                        <xs:element name="associatedEntity" type="POCD_MT000040.AssociatedEntity"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
                    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="inFulfillmentOf" type="POCD_MT000040.InFulfillmentOf" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.InFulfillmentOf">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="order" type="POCD_MT000040.Order"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="optional" fixed="FLFS"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentationOf" type="POCD_MT000040.DocumentationOf" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.DocumentationOf">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="serviceEvent" type="POCD_MT000040.ServiceEvent"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="DOC"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="relatedDocument" type="POCD_MT000040.RelatedDocument" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.RelatedDocument">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="parentDocument" type="POCD_MT000040.ParentDocument"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="authorization" type="POCD_MT000040.Authorization" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType name="POCD_MT000040.Authorization">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="consent" type="POCD_MT000040.Consent"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="AUTH"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="componentOf" type="POCD_MT000040.Component1" minOccurs="0">
                <xs:complexType name="POCD_MT000040.Component1">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="encompassingEncounter" type="POCD_MT000040.EncompassingEncounter"/>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" fixed="COMP"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="component" type="POCD_MT000040.Component2">
                <xs:complexType name="POCD_MT000040.Component2">
                    <xs:sequence>
                        <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="typeId" type="POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0">
                            <xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
                                <xs:complexContent>
                                    <xs:restriction base="II">
                                        <xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
                                        <xs:attribute name="extension" type="st" use="required"/>
                                    </xs:restriction>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:choice>
                            <xs:element name="nonXMLBody" type="POCD_MT000040.NonXMLBody"/>
                            <xs:element name="structuredBody" type="POCD_MT000040.StructuredBody"/>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
                    <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" fixed="COMP"/>
                    <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="ActClinicalDocument" use="optional" fixed="DOCCLIN"/>
        <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
    </xs:element>
</xs:schema>
