src/main/resources/xml/XSD CDA/test.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="bin">
        <xs:attribute name="lang" type="xs:string" default="EN"/>
    </xs:complexType>
    <xs:complexType name="bindd">
        <xs:sequence>
            <xs:element name="realmCode" type="xs:string"/>
            <xs:element name="typeId" type="xs:string"/>
            <xs:element name="templateId" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
