src/main/resources/xml/simple.xsd

<?xml version='1.0' encoding='utf-8' standalone="no"?>
<xs:schema targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" elementFormDefault="qualified">
    <xs:group name="flowContent">
        <xs:all>
            <xs:element name="elem1"/>
        </xs:all>
    </xs:group>

    <xs:element name="html">
        <xs:complexType>
            <xs:choice>
                <xs:group ref="flowContent"/>
            </xs:choice>
            <xs:attribute name="manifest" type="xs:anyURI" />
        </xs:complexType>
    </xs:element>
</xs:schema>